header{
    grid-area: h;
    background-color: rgb(231, 230, 230);
    position: relative;
  }
.header__logo{
  width: 50px;
  margin-top: 5px;
}
  
.header__word{
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 55px;
  font-size: 20px;
  font-weight: 600;
}
  