*, ::before, ::after{
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app-wrapper{
  width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "h h" "n c";
  

}
.content{
  grid-area: c;
  background-color: rgb(231, 230, 230);

}

